@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.main_head {
  background: linear-gradient(600deg, #020202 30%, rgba(90, 0, 224, 1.8) 150%);
  background-repeat: no-repeat;
  position: relative;
}

.hero_wave {
  position: absolute;
  top: 85%;
  left: 0;
}

.row {
  color: #fff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #a731dd;
}

.row {
  display: flex;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/* Navigation bar  */

header {
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
  width: 100vw;
}

.logo {
  align-items: center;
}

.logo img {
  max-width: 80px;
}

nav ul {
  align-items: center;
  gap: 30px;
}

nav a {
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

nav a::after {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

nav li:nth-of-type(4) a::after {
  all: unset;
}

nav a:hover::after {
  width: 30px;
}

nav li:nth-of-type(4) a,
.hero-btn {
  padding: 10px 20px;
  background: linear-gradient(90deg, #a731dd 10%, rgba(90, 0, 224, 1.8) 190%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}

nav li:nth-of-type(4) a:hover,
.hero-btn:hover {
  transform: scale(1.2);
  box-shadow: 4px 4px 4px rgba(167, 167, 248, 0.25);
}

/* Hero Section */

.hero {
  margin-top: -25px;
  gap: 2em;
  flex-wrap: wrap-reverse;
  align-items: center;
  min-height: calc(100vh - 90px);
  margin-bottom: 50px;
}

.hero > * {
  flex: 1 1 25em;
}

.hero h1 {
  font-weight: 700;
  font-size: clamp(40px, 5vw, 70px);
  line-height: 1;
}

.hero p {
  margin-top: -50px;
  font-weight: 500;
  font-size: 30px;
  padding: 1em 0;
}

.hero a,
article a {
  font-weight: 700;
  font-size: 20px;
}

.hero-btn:not(:last-child) {
  margin-right: 8px;
}

.repo-btn {
  background: transparent;
  margin-left: 10px;
}

.repo-btn {
  cursor: pointer;
}
/* About Us section*/

.heading h1{
  background: linear-gradient(to right, #9544f4 0%, #db03fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px solid #000000;
  border-radius: 5px;
  width:fit-content;
}

.heading p{
  display: flex;
  align-items: center;
  color: #ae5de4;
  font-weight: 800;
  font-size: 30px;
  font-family:cursive;
  margin-bottom: 50px;
  text-align: center;
}

.heading .icon{
  display:flex;
  justify-content: center;
  color:"outline:#121331,primary:#646e78,secondary:#4bb3fd,tertiary:#ebe6ef";
  width:500px;
  height:250px;

}

.about{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 47, 233);
  margin:5px;
  border-radius:30px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.profile-card{
  position: relative;
  font-family: sans-serif;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}

.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}

.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}

.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

.profile-card:hover .img{
  transform: translateY(-60px);
}

.profile-card:hover img{
  border-radius: 10px;
}

.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
  font-family: sans-serif;
}
.caption p{
  font-size: 15px;
  color: #0c52a1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}

.caption .social-links a{
  color: rgb(255, 255, 255);
  margin-right: 15px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #ffffff;
}

/* Article/Project Section */

.project_article {
  margin-bottom: 50px;
}

article {
  border-radius: 10px;
  min-height: calc(100vh - 90px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* position: relative; */
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.article_wave {
  position: absolute;
  top: 330%;
  left: 0;
  z-index: 1000;
}

article h1,
main h1 {
  background: linear-gradient(to right, #9544f4 0%, #db03fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px solid #000000;
  border-radius: 5px;
}

article p {
  font-family: cursive;
  font-size: medium;
  font-weight: 200;
}
.content_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-text {
  color: #ae5de4;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.article-templates {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.card-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(202, 190, 219, 0.384);
  padding: 20px;
  max-width: 400px;
  max-height: 350px;
}

.card-vid {
  width: 300px;
  margin-bottom: 10px;
}

.card-text {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

article a {
  display: inline-block;
  background-color: #ae5de4;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
}

article a:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(167, 49, 221, 0.466);
}

/* Footer Section */

.footer {
  background: linear-gradient(600deg, #020202 30%, rgba(90, 0, 224, 1.8) 150%);
  padding: 70px 0;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(112, 47, 233);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Media Query */

@media screen and (max-width: 800px) {
  /* Navigation bar */

  .toggleMenu {
    position: absolute;
    right: 5%;
    background-image: url(img/open.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    padding: 2em;
    z-index: 1000;
    transition: background-size 0.3s ease-in-out;
    -webkit-transition: background-size 0.3s ease-in-out;
    -moz-transition: background-size 0.3s ease-in-out;
    -ms-transition: background-size 0.3s ease-in-out;
    -o-transition: background-size 0.3s ease-in-out;
  }
  .toggleMenu.active {
    position: fixed;
    background-image: url(img/close.png);
    background-size: 25px;
  }
  .navigation {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transition: scale(1, 0);
    -webkit-transition: scale(1, 0);
    -moz-transition: scale(1, 0);
    -ms-transition: scale(1, 0);
    -o-transition: scale(1, 0);
  }
  .navigation.active {
    position: fixed;
    inset: 0;
    max-height: 100%;
    margin: auto;
    opacity: 1;
    background-color: rgba(90, 0, 224, 1.8);
    transition: scale(1, 1);
    -webkit-transition: scale(1, 1);
    -moz-transition: scale(1, 1);
    -ms-transition: scale(1, 1);
    -o-transition: scale(1, 1);
  }
  nav ul {
    flex-direction: column;
  }

  /* Hero Section */

  .hero_content {
    margin-bottom: 40px;
  }

  .hero_wave {
    top: 95%;
    left: 0;
  }
}

@media screen and (max-width: 1140px) {
  body {
    overflow-x: hidden;
  }

  .hero {
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
  }

  .hero_content {
    margin-bottom: 40px;
  }

  .hero_wave {
    top: 95%;
    left: 0;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
