@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, #eecda3, #ef629f);
  font-family: "Roboto", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: none;
  font-size: 18px;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 50px;
  transition: width 0.3s ease;
}

.btn {
  color: #ad0d52;
  background-color: #fff;
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}
