/* Article/Project Section */

.project_article {
  margin-bottom: 50px;
}

article {
  border-radius: 10px;
  min-height: calc(100vh - 90px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* position: relative; */
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.article_wave {
  position: absolute;
  top: 330%;
  left: 0;
  z-index: 1000;
}

article h1,
main h1 {
  color: #a731dd;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px solid #a731dd;
  border-radius: 5px;
}

.content_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-text {
  color: #ae5de4;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.article-templates {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.card-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(202, 190, 219, 0.384);
  padding: 20px;
  max-width: 400px;
  max-height: 350px;
}

.card-vid {
  width: 300px;
  margin-bottom: 10px;
}

.card-text {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

article a {
  display: inline-block;
  background-color: #ae5de4;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
}

article a:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(167, 49, 221, 0.466);
}
