@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --border-line-fill: #e72848;
  --border-line-empty: #c5a3a8;
}

body {
  background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
  font-family: "Muli", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  max-width: 100%;
  width: 500px;
}

/* this will represent out faded line which will gonna fill out bu our original line */
.progress-container::before {
  content: "";
  background-color: var(--border-line-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

/* This will represent our line */
.progress {
  background-color: var(--border-line-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  /* width: 0%, means it will start from the very beginning of the content, play around with it to know more about it */
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  font-size: 25px;
  background-color: #eccdd2;
  color: #b1223a;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--border-line-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--border-line-fill);
}

.btn {
  background-color: var(--border-line-fill);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px;
  font-size: 18px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--border-line-empty);
  cursor: not-allowed;
}
