@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #1a191b -25%, #190222 150%);
  font-family: "Roboto", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  font-size: 72px;
  background: -webkit-linear-gradient(
    360deg,
    rgb(106, 4, 173),
    rgb(255, 255, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box h2 {
  font-size: 50px;
}

.box {
  background-color: #ce908c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 3px 5px 6 px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
