.slides { 



	display: grid;



grid-auto-flow: column; 
gap: 1rem;

overflow-y: auto;

overscroll-behavior-x: contain;

scroll-snap-type: x mandatory;

scrollbar-width: none;





}


.slides > img {

scroll-snap-align: start;
}



.slides img {

border-radius: 10px;
object-fit: contain;
width: 540px;
}




.slides::-webkit-scrollbar {

display: none;
}